body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Container for the header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    background-color: #333;
    color: white;
    width: 100%;
    box-sizing: border-box;
    
}

/* Logo and name on the right */
.logo-container {
    display: flex;
    align-items: center;
   
}

.logo-container img {
    height: 40px;
    margin-right: 10px;
}

.logo-container h1 {
    margin: 0;
    font-size: 24px;
}

/* Menu on the left */
.menu-container {
    display: flex;
    align-items: center;
    
}

.menu-container input[type="text"] {
    padding: 5px;
    margin-right: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: none;
}

.menu-container button {
    padding: 8px 15px;
    margin-left: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 4px;
   
}

/* Adjust button appearance */
.menu-container button:hover {
    background-color: #555;
}

.logo-container button {
    padding: 8px 15px;
    margin-left: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 4px;
}

/*  Adjust button appearance*/
.logo-container button:hover {
    background-color: #555;

}

/* Container for the home */
.Home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    color: white;
    width: 100%;
    box-sizing: border-box;
    gap: 20px;
    padding: 20px;
    
}

/* Container for home text */
.home_text {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: rgb(2, 47, 32);
    text-align: justify;
    flex-direction: column;
    margin-top: 0;
   
}

/* Container for home */
.home_text img {
    float: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
   
    
}